---
import Layout from '../../layouts/Layout.astro';
import { gamepasses } from '../../data/gamepassPrice.js';

function formatKey(key: string) {
  return key
    .replace(/([A-Z])/g, ' $1')
    .replace(/^./, (str: string) => str.toUpperCase());
}

function calculateDiscountedPrice(original: string, discount: string) {
  const orig = parseFloat(original);
  const disc = parseFloat(discount);
  if (disc === 0) return orig;
  const discounted = orig * (1 - disc);
  return Math.round(discounted / 10) * 10;
}
---

<Layout title="Gamepasses">
  <div class="prose">
    <h1>Gamepasses</h1>
    <p>In [CL] Facility Roleplay, Gamepasses give you access to a range of teams, weapons, and clearances.</p>

    <h2>Available Gamepasses</h2>
    <table class="w-full table-auto border border-gray-700">
      <thead>
        <tr class="bg-gray-800 text-gray-100">
          <th class="px-3 py-1 border border-gray-700 text-sm">Gamepass</th>
          <th class="px-3 py-1 border border-gray-700 text-sm">Description</th>
          <th class="px-3 py-1 border border-gray-700 text-sm">Price</th>
        </tr>
      </thead>
      <tbody class="text-gray-300 text-sm">
        {Object.entries(gamepasses).map(([key, pass]) => {
          const finalPrice = calculateDiscountedPrice(pass.originalPrice, pass.discount);
          return (
            <tr>
              <td class="px-3 py-1 border border-gray-700">{formatKey(key)}</td>
              <td class="px-3 py-1 border border-gray-700" set:html={pass.description}></td>
              <td class="px-3 py-1 border border-gray-700">{finalPrice}</td>
            </tr>
          );
        })}
      </tbody>
    </table>
  </div>
</Layout>
