---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Gamepasses">
  <div class="prose">
    <h1>Gamepasses</h1>
    <p>In [CL] Facility Roleplay, Gamepasses give you access to a range of teams, weapons, and clearances.</p>

    <h2>Available Gamepasses</h2>
    <table class="table-auto border-collapse border border-gray-700 w-full text-left">
      <thead>
        <tr>
          <th class="border border-gray-700 px-4 py-2">Gamepass</th>
          <th class="border border-gray-700 px-4 py-2">Description</th>
          <th class="border border-gray-700 px-4 py-2">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-gray-700 px-4 py-2">Unlimited Clearance</td>
          <td class="border border-gray-700 px-4 py-2">Gain Access to the entire facility! from the control room, to every restricted area possible. the possibilities are limitless. Does not grant access to spawns</td>
          <td class="border border-gray-700 px-4 py-2">330</td>
        </tr>
        <tr>
          <td class="border border-gray-700 px-4 py-2">Self Defense Pack</td>
          <td class="border border-gray-700 px-4 py-2">Be Prepared for anything!<br> <br> - Glock-17<br> - Gives 10 Armor Plating<br> - Spawns In Vendor</td>
          <td class="border border-gray-700 px-4 py-2">110</td>
        </tr>
        <tr>
          <td class="border border-gray-700 px-4 py-2">Hostile Forces Pack</td>
          <td class="border border-gray-700 px-4 py-2">Raid centum laboratories, steal important files. Uncover the truth.<br><br> - Early Unlocks Osiris Collective<br> - Early Unlocks Seasoned Collective & Seasoned Subject<br> - Unlocks Osiris Strike Team, Godfather & Housing Overwatch<br> - Unlocks Osiris Clerics<br> - Unlocks High-Risk Subjects<br> - Bypass Osiris Collective Limit (Does <b>Not</b> Bypass Clerics)</td>
          <td class="border border-gray-700 px-4 py-2">550</td>
        </tr>
      </tbody>
    </table>
  </div>
</Layout>